body {
    padding: 0px;
    max-width: 600px;
    margin: 0 auto;
}
.textCenter {
    text-align: center;
}
.title {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#titleColor {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
#titleContent {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
#titleImg {
    float: left;
    width: 5rem;
    margin: 1em;
}
#titleText {
    padding-top: 5px;
}
#t1 {
    color: #ffffff;
}
#t2 {
    font-size: 0.7em;
    color: #ffffff;
}
#t3 {
    font-size: 0.8em;
    color: #ffffff;
}
.chapter {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.chapter a {
    text-decoration: none;
}
.chapter p {
    padding-left: 1em;
}