body {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

#title {
    width: 100%;
    font-size: 1rem;
    padding: 5px;
    color: rgb(150,150,150);
    background: #ffffff;
    position: fixed;
    top: 0;
}

#text {
    padding: 1rem;
    text-indent: 2rem;
    line-height: 3rem;
}